* {
    color: #FFFFFF;
}

.background {
    background-image: url('img/bgb.jpg');
}

.lineLine {
    height: 50%;
    padding-left: 70px;
    padding-right: 70px;
}

.title {
    font-size: 30px;
}

#promo {
    height: 600px;
}

.summary {
    font-size: 15px;
}

#bottomNav {
    position: relative;
    border: solid;
    top: 200px;
    background-color: #757881;
    opacity: 0.5;
}

.wrapper:not(.background) {
    background-color: #201F2F;
}

.happyClient {
    padding-top: 50px;
}

.footer {
    background-color: #2A2C3B;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    margin-top: 30px;
}

#logo {
    padding-left: 28px;
}

.feature-box {
    height: 600px;
    padding-top: 50px;
    background-color: #201F2F;
}

.span4 {
    margin-top: 50px;
}

button {
    background-color: red;
}

.intro {
    padding-top: 100px;
}

#navbar-collapse a {
    color: #FFFFFF;
    border-left: 10px;
}

.swing {
    padding-top: 12%;
    ;
}

.video span {
    font-size: 26px;
}

.video .trans-bg {
    padding: 0;
}

#video-background {
    position: absolute;
    width: 100%;
    height: 650px;
}

#videobcg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1000;
    overflow: hidden;
}

section.video {
    padding: 0 0;
}

.trust {
    background-color: #2A2C3B;
    height: 600px;
}

.payment {
    height: 600px;
}

.video {
    background: url('img/bg.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 500px;
}

.wrap-normal {
    margin: auto;
    padding-top: 70px;
}

.test {
    margin: auto;
    padding-top: 120px;
}

.video-mask {
    padding: 80px 0;
}

.video span {
    font-family: "Dosis", sans-serif;
    font-weight: 800;
    font-size: 46px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    text-align: center;
}

.video-container {
    position: relative;
    padding-bottom: 54.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top: -130px;
    display: none;
}

.tryBtn {
    width: 250%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.trans-bg {
    padding: 0 0px 120px;
}

.trans-bg {
    background: rgba(0, 0, 0, .38);
}

.testimonials {
    height: 600px;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: #201F2F;
}

#tryADemo {
    height: 500px;
    background-color: #201F2F;
}

#bigest {
    border: solid 1px;
    border-radius: 50px;
    height: 400px;
    width: 500px;
    margin-top: 80px;
}

#big {
    border: solid 1px;
    border-radius: 20px;
    margin-top: 30px;
    height: 70px;
    width: 400px;
    margin-left: 42px;
}

#small {
    border: solid 1px;
    border-radius: 20px;
    margin-top: 30px;
    height: 50px;
    width: 400px;
    margin-left: 42px;
}

#smaller1 {
    border: solid 1px;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    position: absolute;
    margin-top: 30px;
    left: 55px;
}

#smaller2 {
    border: solid 1px;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    float: left;
    top: 180px;
    left: 255px;
    position: absolute;
    margin-top: 110px;
}

#paySecurely {
    border: solid 1px;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    background-color: #4B4A58;
    margin-top: 100px;
    height: 50px;
    width: 400px;
    margin-left: 45px;
}

.payText {
    margin-top: 60px;
}
